:local(.cartItem) {
  list-style: none;
  padding: 20px 10px 20px 20px;
  background-color: white;
  border-bottom: 1px solid #E3E3E3;
  display: flex;
}

:local(.cartInfos) {
  flex: 1 0 auto;
}

:local(.cartInfos span) {
  font-weight: bold;
}
